body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 26px;
}

h2 {
  font-weight: 200;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

small {
  font-size: 10px;
}

label {
  font-size: 10px;
  margin-top: 10px;
}

input:not([type='checkbox']) {
  height: 18px;
  width: calc(100% - 10px);
  font-size: 14px;
}

input.name {
  font-weight: bold;
}

.block {
  padding: 15px;
}

.block button {
  display: block;
  width: 230px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  background-color: #00000029;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

select {
  width: 230px;
  height: 28px;
}

.block button:hover {
  background-color: #00000039;
}

.intro img {
  width: 40px;
  height: 40px;
}

.intro p {
  font-size: 18px;
  font-weight: 200;
  width: 75%;
}

.intro li {
  font-size: 16px;
  font-weight: 500;
}


.description p {
  font-size: 12px;
  width: 75%;
}

.attributes {
  background-color: #4D6BBF;
  /* background: linear-gradient(135deg, rgb(69, 108, 219) 0%, rgb(85, 175, 255) 100%); */
}

.variables {
  background-color: #95D559;
  /* background: linear-gradient(135deg, rgb(105, 211, 105) 0%, rgb(179, 237, 121) 100%); */
}

.attributes h2, .variables h2 {
  color: white;
}

.solve, .description {
  background-color: #E2ECEF;
  background: linear-gradient(135deg, rgb(228, 235, 251) 0%, rgb(228, 255, 236) 100%);
}

.solve button {
  background: #74c355;
}

.solve button:hover {
  background: #65b247;
}

.solve pre {
  font-size: 16px;
  font-weight: bold;
}

.minmax {
  margin-top: 10px;
  border-top: 1px dashed #BBB;
}

.min, .max {
  display: inline-block;
  width: 48%;
}

.attribute, .variable {
  position: relative;
  background-color: white;
  border-radius: 5px;
  box-shadow: 6px 10px 25px rgba(0, 0, 0, .05);
  display: inline-block;
  padding: 10px 15px 15px 15px;
  margin: 0 10px 10px 0;
  width: 200px;
}

.block button.remove {
  position: absolute;
  top: 5px;
  right: 8px;
  width: 15px;
  height: 15px;
  background-color: white;
  color: #bdbdbd;
}

.optimization-params {
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .intro p, .description p {
    width: 100%;
  }

  .attribute, .variable {
    display: block;
    width: initial;
  }

  .block button {
    height: 45px;
    font-size: 16px;
  }

  input:not([type="checkbox"]) {
    height: 24px;
    font-size: 16px;
  }
}
